<ActionBar title="Maps Native Geocoder" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <ContentView row="1" col="0">
        <Mapbox
                accessToken="{{ mapboxKey }}"
                mapStyle="streets"
                zoomLevel="17"
                latitude="52.3702160"
                longitude="4.8951680"
                hideLogo="true"
                showUserLocation="true"
                (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>
</StackLayout>
